sectio.nav
  h1 УМНАЯ ПОЛКА
  h3.span.loader
    span.m I
    span.m T
    span.m M
    span.m O
    span.m &nbsp;
    span.m S
    span.m E
    span.m C
    span.m U
    span.m R
    span.m I
    span.m T
    span.m Y
    span.m &nbsp;
    span.m 2
    span.m 0
    span.m 2
    span.m 2
  .nav-container
    a.nav-tab(href="#tab-svelte") ЗАДАЧА
    a.nav-tab(href="#tab-esbuild") РЕШЕНИЕ
    a.nav-tab(href="#tab-next") КОД
    a.nav-tab(href="#tab-typescript") ПРоблемы
    a.nav-tab(href="#tab-vite") О НАС
    span.nav-tab-slider
main.main
  section#tab-svelte.slider
    h1 ЗАДАЧА
    h2 Такая то задача была поставлена
  section#tab-esbuild.slider
    h1 РЕШЕНИЕ
    h2 То то мы предприняли для её решения (или же алгоритм решения)
  section#tab-next.slider
    h1 КОД
    h2 Картиночки с кодом или ссылочки на pastenbin и.т.п
  section#tab-typescript.slider
    h1 ПРоблемы
    h2 С какими проблемами мы столкнулись
  section#tab-vite.slider
    h1 О нас
    h2 Кто мы такие и как докатились до жизни такой
canvas.background
